$font-size-base:    14px;
$font-body:		    15px;
$title:             18px;
$subtitle:			38px;

$theme:             #0696ac;
$light-color:       #ffffff;
$light-grey-color:  #f0f0f0;
$dark-color:        #202020;
$body-color:        #111111;
$fot-label:			15px;
$head-label:		15px;
$black:				#000000;

 /*$img-path:         '../img/';*/