
/* price slider */
.price-slider {
	padding-bottom: 15px;
	width: 80%;
}
.slider.slider-horizontal {
	width: 100%;
}

/*price slider end */

/* product detail page start */
.product-slider-div {
	margin-bottom: 66px;
}
.related-products {
	margin-top: 38px;
}
.product-detail-news {
	padding-top: 7px;
}